body {
            background-color: #383838; 
            color: #00ff66; 
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #003300; 
            padding: 20px;
            text-align: center;
            border-bottom: 2px solid #00ff66;
        }

        header h1 {
            margin: 0;
            font-size: 2em;
        }
    button {
      background-color: #04AA6D; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      transition: box-shadow 0.2s, transform 0.2s;
    }
    button:hover {
      background-color: #0056b3;
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      transform: translateY(-2px);
      cursor: pointer;
      }
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        
      }
      input{
        border-radius: 5px;
        font-weight: bold;
      }
      input[type=number]:focus {
        border-color: #4CAF50;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
    }

.outbox{
  text-align: center;
}
.container{
  width: 50%;
  display: inline-block;
  position: relative; 
  height:75vh; 
  width:80vw;
  background-color: rgb(255, 255,255);
  border-radius: 15px;
}

#downloadCSV{
  border-radius: 10px;
  background-color: rgb(0, 153, 0);
}

#sub{
  border-radius: 10px;
  background-color: rgb(0, 153, 0);
}
#openForm{
  border-radius: 10px;
  background-color: rgb(0, 153, 0);
}